<!-- section -->
        <div class="section our-stores">
          <div class="container">
            <div class="row">
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'store' %}
                      <div class="col-lg-4 col-md-6 column">
                        <div class="box1">
                          <figure class="figure1">
                            <img class="w-100" src="{{ block.settings.store-image | image_url }}" alt="{{ block.settings.store-image.alt }}">
                          </figure>
                          <div class="content">
                            <h2><a href="#">{{ block.settings.store-location }} </a></h2>
                            {{ block.settings.store-address }}
                            <div class="timings-chart">
                              <a href="#" class="toggle-btn"><span>{{ block.settings.timing-label }}</span> <i class="icon"><img src="{{ 'down-arrow.svg' | asset_url }}" alt="arrow"></i></a>
                              <table class="custom-table1">
                                <tbody>
                                  <tr>
                                    <td class="week">MON:</td>
                                    <td> {{ block.settings.mon-timing }} </td>
                                  </tr>
                                  <tr>
                                    <td class="week">TUE:</td>
                                    <td> {{ block.settings.mon-timing }} </td>
                                  </tr>
                                  <tr>
                                    <td class="week">WED:</td>
                                    <td> {{ block.settings.mon-timing }} </td>
                                  </tr>
                                  <tr>
                                    <td class="week">THU:</td>
                                    <td> {{ block.settings.mon-timing }} </td>
                                  </tr>
                                  <tr>
                                    <td class="week">FRI:</td>
                                    <td> {{ block.settings.mon-timing }} </td>
                                  </tr>
                                  <tr>
                                    <td class="week">SAT:</td>
                                    <td> {{ block.settings.mon-timing }} </td>
                                  </tr>
                                  <tr>
                                    <td class="week">SUN</td>
                                    <td> {{ block.settings.mon-timing }} </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                          <footer>
                            <a href="#" class="btn btn-primary bg-color1">{{ block.settings.button-label }}</a>
                          </footer>
                        </div>
                      </div>
                {% endcase %}
              {% endfor %}
            </div>
            <footer class="text-center pt-4 pt-lg-5">
              <span class="note">More UK Stores opening soon! </span>
            </footer>
          </div>
        </div>
<!-- /section -->


{% schema %}
  {
    "name": "Our Stores",
    "settings": [],
    "blocks": [
      {
        "name": "Store",
        "type": "store",
        "settings": [
          {
            "id": "store-image",
            "type": "image_picker",
            "label": "Store Image"
          },
          {
            "id": "store-location",
            "type": "text",
            "label": "Location"
          },
          {
            "id": "store-address",
            "type": "richtext",
            "label": "Address"
          },
          {
            "type": "header",
            "content": "Timings"
          },
          {
            "id": "timing-label",
            "type": "text",
            "label": "Timing Label"
          },
          {
            "id": "mon-timing",
            "type": "text",
            "label": "MON"
          },
          {
            "id": "tue-timing",
            "type": "text",
            "label": "TUE"
          },
          {
            "id": "wed-timing",
            "type": "text",
            "label": "WED"
          },
          {
            "id": "thu-timing",
            "type": "text",
            "label": "THU"
          },
          {
            "id": "fri-timing",
            "type": "text",
            "label": "FRI"
          },
          {
            "id": "sat-timing",
            "type": "text",
            "label": "SAT"
          },
          {
            "id": "sun-timing",
            "type": "text",
            "label": "SUN"
          },
          {
            "id": "button-label",
            "type": "text",
            "label": "Button Label"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}